# **Tourism in Ireland** <br>Analysis of Pedestrian Footfall in Dublin City Center
### *Prepared by Ben Wilson, sbs24004*

In [1]:
import pandas as pd
import seaborn as sns

**1. Data Cleaning and Preparation**

In [2]:
footfall23_df = pd.read_csv('DCCpfc2023.csv')

In [3]:
footfall23_df.head(5)

,Time,Aston Quay/Fitzgeralds,Aston Quay/Fitzgeralds IN,Aston Quay/Fitzgeralds OUT,Bachelors walk/Bachelors way,Bachelors walk/Bachelors way IN,Bachelors walk/Bachelors way OUT,Baggot st lower/Wilton tce inbound,Baggot st lower/Wilton tce inbound Pedestrians IN,Baggot st lower/Wilton tce inbound Pedestrians OUT,...,Talbot st/Guineys OUT,Talbot st/Murrays Pharmacy,Talbot st/Murrays Pharmacy IN,Talbot st/Murrays Pharmacy OUT,Westmoreland Street East/Fleet street,Westmoreland Street East/Fleet street IN,Westmoreland Street East/Fleet street OUT,Westmoreland Street West/Carrolls,Westmoreland Street West/Carrolls IN,Westmoreland Street West/Carrolls OUT
0,01/01/2023 00:00,3700.0,1455.0,2245.0,0.0,0.0,0.0,74.0,40.0,34.0,...,1089.0,2891.0,2489.0,402.0,1011.0,397.0,614.0,1835.0,1256.0,579.0
1,01/01/2023 01:00,4369.0,2142.0,2227.0,0.0,0.0,0.0,100.0,46.0,54.0,...,730.0,2562.0,2263.0,299.0,634.0,381.0,253.0,1426.0,915.0,511.0
2,01/01/2023 02:00,3807.0,2031.0,1776.0,0.0,0.0,0.0,52.0,15.0,37.0,...,379.0,2207.0,2116.0,91.0,501.0,340.0,161.0,1458.0,968.0,490.0
3,01/01/2023 03:00,2477.0,1352.0,1125.0,0.0,0.0,0.0,42.0,18.0,24.0,...,350.0,1834.0,1747.0,87.0,445.0,306.0,139.0,1709.0,1198.0,511.0
4,01/01/2023 04:00,1534.0,836.0,698.0,0.0,0.0,0.0,11.0,1.0,10.0,...,345.0,1307.0,1236.0,71.0,127.0,94.0,33.0,786.0,580.0,206.0

In [4]:
footfall23_df.shape

(8760, 115)

8760 hours in a Year, 38 counters x 3 = 114 + Time?

In [5]:
footfall23_df.describe(include='all')

,Time,Aston Quay/Fitzgeralds,Aston Quay/Fitzgeralds IN,Aston Quay/Fitzgeralds OUT,Bachelors walk/Bachelors way,Bachelors walk/Bachelors way IN,Bachelors walk/Bachelors way OUT,Baggot st lower/Wilton tce inbound,Baggot st lower/Wilton tce inbound Pedestrians IN,Baggot st lower/Wilton tce inbound Pedestrians OUT,...,Talbot st/Guineys OUT,Talbot st/Murrays Pharmacy,Talbot st/Murrays Pharmacy IN,Talbot st/Murrays Pharmacy OUT,Westmoreland Street East/Fleet street,Westmoreland Street East/Fleet street IN,Westmoreland Street East/Fleet street OUT,Westmoreland Street West/Carrolls,Westmoreland Street West/Carrolls IN,Westmoreland Street West/Carrolls OUT
count,8760,8759.000000,8759.000000,8759.000000,7396.000000,7396.000000,7396.000000,8759.000000,8759.000000,8759.000000,...,6731.000000,490.000000,490.000000,469.000000,6335.000000,6335.000000,6335.000000,2591.000000,2591.000000,2591.000000
unique,8759,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,26/03/2023 02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,3371.344446,1633.542528,1737.801918,1408.451190,973.738778,434.712412,124.538760,75.382235,49.156525,...,757.085426,1757.648980,1456.742857,314.379531,1335.530387,1179.575375,155.955012,663.332304,398.659977,264.672327
std,NaN,1808.971110,853.872352,978.887637,3165.336185,2253.567648,1053.472648,135.577782,90.627446,54.247633,...,956.248984,660.949162,612.358696,211.834349,747.803159,699.408969,116.402986,777.595941,471.259572,316.665879
min,NaN,27.000000,6.000000,21.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,1900.500000,1010.500000,876.500000,0.000000,0.000000,0.000000,16.000000,6.000000,8.000000,...,20.000000,1336.250000,983.000000,108.000000,771.000000,671.500000,54.000000,0.000000,0.000000,0.000000
50%,NaN,3685.000000,1712.000000,1947.000000,62.500000,50.000000,11.000000,87.000000,50.000000,35.000000,...,165.000000,1811.000000,1521.000000,316.000000,1368.000000,1167.000000,147.000000,204.000000,135.000000,65.000000
75%,NaN,4583.000000,2190.500000,2423.000000,1605.000000,1071.250000,499.000000,187.000000,113.000000,71.000000,...,1536.500000,2269.750000,1925.750000,489.000000,1819.500000,1619.000000,227.000000,1378.000000,795.000000,556.500000
max,NaN,10658.000000,5663.000000,4995.000000,16703.000000,15410.000000,7400.000000,1755.000000,1732.000000,717.000000,...,5720.000000,3784.000000,3046.000000,922.000000,5091.000000,4945.000000,746.000000,3758.000000,2439.000000,1824.000000

In [6]:
footfall23_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Columns: 115 entries, Time to Westmoreland Street West/Carrolls OUT
dtypes: float64(114), object(1)
memory usage: 7.7+ MB

In [7]:
footfall23_df.columns

Index(['Time', 'Aston Quay/Fitzgeralds', 'Aston Quay/Fitzgeralds IN',
       'Aston Quay/Fitzgeralds OUT', 'Bachelors walk/Bachelors way',
       'Bachelors walk/Bachelors way IN', 'Bachelors walk/Bachelors way OUT',
       'Baggot st lower/Wilton tce inbound',
       'Baggot st lower/Wilton tce inbound Pedestrians IN',
       'Baggot st lower/Wilton tce inbound Pedestrians OUT',
       ...
       'Talbot st/Guineys OUT', 'Talbot st/Murrays Pharmacy',
       'Talbot st/Murrays Pharmacy IN', 'Talbot st/Murrays Pharmacy OUT',
       'Westmoreland Street East/Fleet street',
       'Westmoreland Street East/Fleet street IN',
       'Westmoreland Street East/Fleet street OUT',
       'Westmoreland Street West/Carrolls',
       'Westmoreland Street West/Carrolls IN',
       'Westmoreland Street West/Carrolls OUT'],
      dtype='object', length=115)

**1.1** <br>I want to remove columns with IN or OUT, and leave only totals. Create user defined function, remove_IN_OUT()

In [8]:
from UserDefinedFunctions import remove_IN_OUT

In [9]:
footfall23_df = remove_IN_OUT(footfall23_df)

In [10]:
footfall23_df.shape

(8760, 39)

Colums removed, 38 locations and time

In [11]:
list(footfall23_df)

['Time',
 'Aston Quay/Fitzgeralds',
 'Bachelors walk/Bachelors way',
 'Baggot st lower/Wilton tce inbound',
 'Baggot st upper/Mespil rd/Bank',
 'Capel st/Mary street',
 'College Green/Bank Of Ireland',
 'College Green/Church Lane',
 'College st/Westmoreland st',
 "D'olier st/Burgh Quay",
 'Dame Street/Londis',
 'Dawson Street',
 'Dawson Street old',
 'Dawson Street/Molesworth Pedestrian',
 'Grafton st/Monsoon',
 'Grafton Street / Nassau Street / Suffolk Street',
 'Grafton Street/CompuB',
 'Grand Canal st upp/Clanwilliam place',
 'Grand Canal st upp/Clanwilliam place/Google',
 'Henry Street/Coles Lane/Dunnes',
 'Liffey st/Halfpenny Bridge ',
 'Liffey Street old',
 'Mary st/Jervis st',
 'Newcomen Bridge/Charleville mall inbound',
 'Newcomen Bridge/Charleville mall outbound',
 'North Wall Quay/Samuel Beckett bridge East',
 'North Wall Quay/Samuel Beckett bridge West',
 "O'Connell St/Parnell St/AIB",
 "O'Connell St/Pennys Pedestrian",
 "O'Connell st/Princes st North",
 "O'Connell Street Pennys - PYRO EVO Temporary Counter",
 'Phibsborough Rd/Enniskerry Road',
 'Phibsborough Rd/Munster St (Removed due to Overcounting)',
 'Richmond st south/Portabello Harbour inbound',
 'Richmond st south/Portabello Harbour outbound',
 'Talbot st/Guineys',
 'Talbot st/Murrays Pharmacy',
 'Westmoreland Street East/Fleet street',
 'Westmoreland Street West/Carrolls']

With IN and OUT columns removed, reexplore Data Set

In [12]:
footfall23_df.describe(include='all')

,Time,Aston Quay/Fitzgeralds,Bachelors walk/Bachelors way,Baggot st lower/Wilton tce inbound,Baggot st upper/Mespil rd/Bank,Capel st/Mary street,College Green/Bank Of Ireland,College Green/Church Lane,College st/Westmoreland st,D'olier st/Burgh Quay,...,O'Connell st/Princes st North,O'Connell Street Pennys - PYRO EVO Temporary Counter,Phibsborough Rd/Enniskerry Road,Phibsborough Rd/Munster St (Removed due to Overcounting),Richmond st south/Portabello Harbour inbound,Richmond st south/Portabello Harbour outbound,Talbot st/Guineys,Talbot st/Murrays Pharmacy,Westmoreland Street East/Fleet street,Westmoreland Street West/Carrolls
count,8760,8759.000000,7396.000000,8759.000000,8759.000000,8759.000000,8705.000000,7036.000000,8759.000000,8759.000000,...,8759.000000,0.0,8759.000000,0.0,8759.000000,8759.000000,6731.000000,490.000000,6335.000000,2591.000000
unique,8759,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,26/03/2023 02:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,3371.344446,1408.451190,124.538760,4159.843019,1235.841877,545.744515,590.919983,602.385775,941.580203,...,710.051262,NaN,95.790501,NaN,753.056970,226.699052,1288.518794,1757.648980,1335.530387,663.332304
std,NaN,1808.971110,3165.336185,135.577782,3044.631578,1037.122022,631.544924,589.564217,462.085500,545.537413,...,499.244161,NaN,70.980989,NaN,606.450604,140.043558,1577.094848,660.949162,747.803159,777.595941
min,NaN,27.000000,0.000000,0.000000,4.000000,4.000000,0.000000,0.000000,1.000000,1.000000,...,3.000000,NaN,0.000000,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,1900.500000,0.000000,16.000000,1310.000000,387.000000,116.000000,22.000000,168.000000,514.000000,...,244.000000,NaN,27.000000,NaN,235.000000,106.500000,38.000000,1336.250000,771.000000,0.000000
50%,NaN,3685.000000,62.500000,87.000000,4039.000000,1018.000000,375.000000,408.000000,537.000000,1025.000000,...,703.000000,NaN,98.000000,NaN,655.000000,228.000000,283.000000,1811.000000,1368.000000,204.000000
75%,NaN,4583.000000,1605.000000,187.000000,6225.000000,1834.000000,687.000000,1086.250000,995.000000,1304.000000,...,1072.000000,NaN,149.000000,NaN,1112.000000,325.000000,2635.000000,2269.750000,1819.500000,1378.000000
max,NaN,10658.000000,16703.000000,1755.000000,15100.000000,9217.000000,3919.000000,2316.000000,3372.000000,3632.000000,...,2625.000000,NaN,496.000000,NaN,4436.000000,895.000000,8770.000000,3784.000000,5091.000000,3758.000000

A lot of missing values

In [13]:
footfall23_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 39 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   Time                                                      8760 non-null   object
 1   Aston Quay/Fitzgeralds                                    8759 non-null   float64
 2   Bachelors walk/Bachelors way                              7396 non-null   float64
 3   Baggot st lower/Wilton tce inbound                        8759 non-null   float64
 4   Baggot st upper/Mespil rd/Bank                            8759 non-null   float64
 5   Capel st/Mary street                                      8759 non-null   float64
 6   College Green/Bank Of Ireland                             8705 non-null   float64
 7   College Green/Church Lane                                 7036 non-null   float64
 8   College st/Westmoreland st                                8759 non-null   float64
 9   D'olier st/Burgh Quay                                     8759 non-null   float64
 10  Dame Street/Londis                                        8759 non-null   float64
 11  Dawson Street                                             0 non-null      float64
 12  Dawson Street old                                         0 non-null      float64
 13  Dawson Street/Molesworth Pedestrian                       288 non-null    float64
 14  Grafton st/Monsoon                                        8759 non-null   float64
 15  Grafton Street / Nassau Street / Suffolk Street           8624 non-null   float64
 16  Grafton Street/CompuB                                     8753 non-null   float64
 17  Grand Canal st upp/Clanwilliam place                      8759 non-null   float64
 18  Grand Canal st upp/Clanwilliam place/Google               8759 non-null   float64
 19  Henry Street/Coles Lane/Dunnes                            7323 non-null   float64
 20  Liffey st/Halfpenny Bridge                                8759 non-null   float64
 21  Liffey Street old                                         0 non-null      float64
 22  Mary st/Jervis st                                         8759 non-null   float64
 23  Newcomen Bridge/Charleville mall inbound                  1776 non-null   float64
 24  Newcomen Bridge/Charleville mall outbound                 1776 non-null   float64
 25  North Wall Quay/Samuel Beckett bridge East                8759 non-null   float64
 26  North Wall Quay/Samuel Beckett bridge West                8759 non-null   float64
 27  O'Connell St/Parnell St/AIB                               7009 non-null   float64
 28  O'Connell St/Pennys Pedestrian                            6134 non-null   float64
 29  O'Connell st/Princes st North                             8759 non-null   float64
 30  O'Connell Street Pennys - PYRO EVO Temporary Counter      0 non-null      float64
 31  Phibsborough Rd/Enniskerry Road                           8759 non-null   float64
 32  Phibsborough Rd/Munster St (Removed due to Overcounting)  0 non-null      float64
 33  Richmond st south/Portabello Harbour inbound              8759 non-null   float64
 34  Richmond st south/Portabello Harbour outbound             8759 non-null   float64
 35  Talbot st/Guineys                                         6731 non-null   float64
 36  Talbot st/Murrays Pharmacy                                490 non-null    float64
 37  Westmoreland Street East/Fleet street                     6335 non-null   float64
 38  Westmoreland Street West/Carrolls                         2591 non-null   float64
dtypes: float64(38), object(1)
memory usage: 2.6+ MB

**1.2** <br> I want to change the index of the data frame to time, the first column

In [14]:
footfall23_df['Time'].head(5)

0    01/01/2023 00:00
1    01/01/2023 01:00
2    01/01/2023 02:00
3    01/01/2023 03:00
4    01/01/2023 04:00
Name: Time, dtype: object

First I need to convert to a day time object

In [15]:
footfall23_df['Time'] = pd.to_datetime(footfall23_df['Time'], format='%d/%m/%Y %H:%M') # Convert to dateTime format

In [16]:
footfall23_df['Time'].head(5)

0   2023-01-01 00:00:00
1   2023-01-01 01:00:00
2   2023-01-01 02:00:00
3   2023-01-01 03:00:00
4   2023-01-01 04:00:00
Name: Time, dtype: datetime64[ns]

In [17]:
footfall23_df.set_index('Time', inplace=True) # Set index to Time

In [18]:
footfall23_df.head(5)

,Aston Quay/Fitzgeralds,Bachelors walk/Bachelors way,Baggot st lower/Wilton tce inbound,Baggot st upper/Mespil rd/Bank,Capel st/Mary street,College Green/Bank Of Ireland,College Green/Church Lane,College st/Westmoreland st,D'olier st/Burgh Quay,Dame Street/Londis,...,O'Connell st/Princes st North,O'Connell Street Pennys - PYRO EVO Temporary Counter,Phibsborough Rd/Enniskerry Road,Phibsborough Rd/Munster St (Removed due to Overcounting),Richmond st south/Portabello Harbour inbound,Richmond st south/Portabello Harbour outbound,Talbot st/Guineys,Talbot st/Murrays Pharmacy,Westmoreland Street East/Fleet street,Westmoreland Street West/Carrolls
Time,,,,,,,,,,,,,,,,,,,,,
2023-01-01 00:00:00,3700.0,0.0,74.0,4296.0,808.0,1325.0,829.0,801.0,1714.0,858.0,...,1408.0,NaN,56.0,NaN,388.0,201.0,2133.0,2891.0,1011.0,1835.0
2023-01-01 01:00:00,4369.0,0.0,100.0,1466.0,639.0,1209.0,685.0,641.0,1411.0,574.0,...,891.0,NaN,86.0,NaN,151.0,454.0,1347.0,2562.0,634.0,1426.0
2023-01-01 02:00:00,3807.0,0.0,52.0,1642.0,546.0,1151.0,589.0,481.0,1219.0,664.0,...,870.0,NaN,63.0,NaN,445.0,277.0,751.0,2207.0,501.0,1458.0
2023-01-01 03:00:00,2477.0,0.0,42.0,967.0,349.0,1368.0,556.0,395.0,1225.0,771.0,...,722.0,NaN,90.0,NaN,512.0,496.0,654.0,1834.0,445.0,1709.0
2023-01-01 04:00:00,1534.0,0.0,11.0,328.0,309.0,710.0,207.0,110.0,559.0,337.0,...,283.0,NaN,36.0,NaN,328.0,230.0,794.0,1307.0,127.0,786.0

In [19]:
footfall23_df.describe(include='all')

,Aston Quay/Fitzgeralds,Bachelors walk/Bachelors way,Baggot st lower/Wilton tce inbound,Baggot st upper/Mespil rd/Bank,Capel st/Mary street,College Green/Bank Of Ireland,College Green/Church Lane,College st/Westmoreland st,D'olier st/Burgh Quay,Dame Street/Londis,...,O'Connell st/Princes st North,O'Connell Street Pennys - PYRO EVO Temporary Counter,Phibsborough Rd/Enniskerry Road,Phibsborough Rd/Munster St (Removed due to Overcounting),Richmond st south/Portabello Harbour inbound,Richmond st south/Portabello Harbour outbound,Talbot st/Guineys,Talbot st/Murrays Pharmacy,Westmoreland Street East/Fleet street,Westmoreland Street West/Carrolls
count,8759.000000,7396.000000,8759.000000,8759.000000,8759.000000,8705.000000,7036.000000,8759.000000,8759.000000,8759.000000,...,8759.000000,0.0,8759.000000,0.0,8759.000000,8759.000000,6731.000000,490.000000,6335.000000,2591.000000
mean,3371.344446,1408.451190,124.538760,4159.843019,1235.841877,545.744515,590.919983,602.385775,941.580203,449.773718,...,710.051262,NaN,95.790501,NaN,753.056970,226.699052,1288.518794,1757.648980,1335.530387,663.332304
std,1808.971110,3165.336185,135.577782,3044.631578,1037.122022,631.544924,589.564217,462.085500,545.537413,345.492423,...,499.244161,NaN,70.980989,NaN,606.450604,140.043558,1577.094848,660.949162,747.803159,777.595941
min,27.000000,0.000000,0.000000,4.000000,4.000000,0.000000,0.000000,1.000000,1.000000,0.000000,...,3.000000,NaN,0.000000,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1900.500000,0.000000,16.000000,1310.000000,387.000000,116.000000,22.000000,168.000000,514.000000,145.000000,...,244.000000,NaN,27.000000,NaN,235.000000,106.500000,38.000000,1336.250000,771.000000,0.000000
50%,3685.000000,62.500000,87.000000,4039.000000,1018.000000,375.000000,408.000000,537.000000,1025.000000,407.000000,...,703.000000,NaN,98.000000,NaN,655.000000,228.000000,283.000000,1811.000000,1368.000000,204.000000
75%,4583.000000,1605.000000,187.000000,6225.000000,1834.000000,687.000000,1086.250000,995.000000,1304.000000,678.000000,...,1072.000000,NaN,149.000000,NaN,1112.000000,325.000000,2635.000000,2269.750000,1819.500000,1378.000000
max,10658.000000,16703.000000,1755.000000,15100.000000,9217.000000,3919.000000,2316.000000,3372.000000,3632.000000,1792.000000,...,2625.000000,NaN,496.000000,NaN,4436.000000,895.000000,8770.000000,3784.000000,5091.000000,3758.000000

In [20]:
footfall23_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8760 entries, 2023-01-01 00:00:00 to 2023-12-31 23:00:00
Data columns (total 38 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   Aston Quay/Fitzgeralds                                    8759 non-null   float64
 1   Bachelors walk/Bachelors way                              7396 non-null   float64
 2   Baggot st lower/Wilton tce inbound                        8759 non-null   float64
 3   Baggot st upper/Mespil rd/Bank                            8759 non-null   float64
 4   Capel st/Mary street                                      8759 non-null   float64
 5   College Green/Bank Of Ireland                             8705 non-null   float64
 6   College Green/Church Lane                                 7036 non-null   float64
 7   College st/Westmoreland st                                8759 non-null   float64
 8   D'olier st/Burgh Quay                                     8759 non-null   float64
 9   Dame Street/Londis                                        8759 non-null   float64
 10  Dawson Street                                             0 non-null      float64
 11  Dawson Street old                                         0 non-null      float64
 12  Dawson Street/Molesworth Pedestrian                       288 non-null    float64
 13  Grafton st/Monsoon                                        8759 non-null   float64
 14  Grafton Street / Nassau Street / Suffolk Street           8624 non-null   float64
 15  Grafton Street/CompuB                                     8753 non-null   float64
 16  Grand Canal st upp/Clanwilliam place                      8759 non-null   float64
 17  Grand Canal st upp/Clanwilliam place/Google               8759 non-null   float64
 18  Henry Street/Coles Lane/Dunnes                            7323 non-null   float64
 19  Liffey st/Halfpenny Bridge                                8759 non-null   float64
 20  Liffey Street old                                         0 non-null      float64
 21  Mary st/Jervis st                                         8759 non-null   float64
 22  Newcomen Bridge/Charleville mall inbound                  1776 non-null   float64
 23  Newcomen Bridge/Charleville mall outbound                 1776 non-null   float64
 24  North Wall Quay/Samuel Beckett bridge East                8759 non-null   float64
 25  North Wall Quay/Samuel Beckett bridge West                8759 non-null   float64
 26  O'Connell St/Parnell St/AIB                               7009 non-null   float64
 27  O'Connell St/Pennys Pedestrian                            6134 non-null   float64
 28  O'Connell st/Princes st North                             8759 non-null   float64
 29  O'Connell Street Pennys - PYRO EVO Temporary Counter      0 non-null      float64
 30  Phibsborough Rd/Enniskerry Road                           8759 non-null   float64
 31  Phibsborough Rd/Munster St (Removed due to Overcounting)  0 non-null      float64
 32  Richmond st south/Portabello Harbour inbound              8759 non-null   float64
 33  Richmond st south/Portabello Harbour outbound             8759 non-null   float64
 34  Talbot st/Guineys                                         6731 non-null   float64
 35  Talbot st/Murrays Pharmacy                                490 non-null    float64
 36  Westmoreland Street East/Fleet street                     6335 non-null   float64
 37  Westmoreland Street West/Carrolls                         2591 non-null   float64
dtypes: float64(38)
memory usage: 2.6 MB

**1.3** <br> Check for missing values

In [21]:
# Check for missing values
print("Are there missing values?", footfall23_df.isnull().values.any())

Are there missing values? True

In [22]:
# How many missing observations per column/street sensor?
print(footfall23_df.isnull().sum())

Aston Quay/Fitzgeralds                                         1
Bachelors walk/Bachelors way                                1364
Baggot st lower/Wilton tce inbound                             1
Baggot st upper/Mespil rd/Bank                                 1
Capel st/Mary street                                           1
College Green/Bank Of Ireland                                 55
College Green/Church Lane                                   1724
College st/Westmoreland st                                     1
D'olier st/Burgh Quay                                          1
Dame Street/Londis                                             1
Dawson Street                                               8760
Dawson Street old                                           8760
Dawson Street/Molesworth Pedestrian                         8472
Grafton st/Monsoon                                             1
Grafton Street / Nassau Street / Suffolk Street              136
Grafton Street/CompuB                                          7
Grand Canal st upp/Clanwilliam place                           1
Grand Canal st upp/Clanwilliam place/Google                    1
Henry Street/Coles Lane/Dunnes                              1437
Liffey st/Halfpenny Bridge                                     1
Liffey Street old                                           8760
Mary st/Jervis st                                              1
Newcomen Bridge/Charleville mall inbound                    6984
Newcomen Bridge/Charleville mall outbound                   6984
North Wall Quay/Samuel Beckett bridge East                     1
North Wall Quay/Samuel Beckett bridge West                     1
O'Connell St/Parnell St/AIB                                 1751
O'Connell St/Pennys Pedestrian                              2626
O'Connell st/Princes st North                                  1
O'Connell Street Pennys - PYRO EVO Temporary Counter        8760
Phibsborough Rd/Enniskerry Road                                1
Phibsborough Rd/Munster St (Removed due to Overcounting)    8760
Richmond st south/Portabello Harbour inbound                   1
Richmond st south/Portabello Harbour outbound                  1
Talbot st/Guineys                                           2029
Talbot st/Murrays Pharmacy                                  8270
Westmoreland Street East/Fleet street                       2425
Westmoreland Street West/Carrolls                           6169
dtype: int64

There are some streets with almost or completely missing values. Before I remove them I want to check of theyre of the time period I am interested in, which I will be focussing on St.Patrick day holiday, March 17th

1.3.1
patricks day close up

In [23]:
# Create a new data frame on St.Pats day
patrick23_df = footfall23_df[(footfall23_df.index.month == 3) & (footfall23_df.index.day == 17)]

In [24]:
patrick23_df.head(5)

,Aston Quay/Fitzgeralds,Bachelors walk/Bachelors way,Baggot st lower/Wilton tce inbound,Baggot st upper/Mespil rd/Bank,Capel st/Mary street,College Green/Bank Of Ireland,College Green/Church Lane,College st/Westmoreland st,D'olier st/Burgh Quay,Dame Street/Londis,...,O'Connell st/Princes st North,O'Connell Street Pennys - PYRO EVO Temporary Counter,Phibsborough Rd/Enniskerry Road,Phibsborough Rd/Munster St (Removed due to Overcounting),Richmond st south/Portabello Harbour inbound,Richmond st south/Portabello Harbour outbound,Talbot st/Guineys,Talbot st/Murrays Pharmacy,Westmoreland Street East/Fleet street,Westmoreland Street West/Carrolls
Time,,,,,,,,,,,,,,,,,,,,,
2023-03-17 00:00:00,837.0,NaN,67.0,5469.0,1195.0,157.0,513.0,414.0,1150.0,522.0,...,557.0,NaN,56.0,NaN,845.0,250.0,2713.0,NaN,1059.0,NaN
2023-03-17 01:00:00,2178.0,NaN,50.0,2292.0,949.0,97.0,308.0,183.0,890.0,295.0,...,307.0,NaN,31.0,NaN,493.0,273.0,2912.0,NaN,992.0,NaN
2023-03-17 02:00:00,1719.0,NaN,10.0,1835.0,638.0,116.0,280.0,182.0,943.0,399.0,...,251.0,NaN,12.0,NaN,403.0,127.0,1556.0,NaN,1135.0,NaN
2023-03-17 03:00:00,1422.0,NaN,7.0,1842.0,100.0,84.0,244.0,124.0,664.0,231.0,...,226.0,NaN,20.0,NaN,397.0,189.0,472.0,NaN,800.0,NaN
2023-03-17 04:00:00,1373.0,NaN,5.0,710.0,195.0,26.0,111.0,52.0,321.0,95.0,...,111.0,NaN,8.0,NaN,243.0,97.0,569.0,NaN,276.0,NaN

In [25]:
# How many missing observations per column/street sensor on St.Patricks day?
print(patrick23_df.isnull().sum())

Aston Quay/Fitzgeralds                                       0
Bachelors walk/Bachelors way                                24
Baggot st lower/Wilton tce inbound                           0
Baggot st upper/Mespil rd/Bank                               0
Capel st/Mary street                                         0
College Green/Bank Of Ireland                                0
College Green/Church Lane                                    0
College st/Westmoreland st                                   0
D'olier st/Burgh Quay                                        0
Dame Street/Londis                                           0
Dawson Street                                               24
Dawson Street old                                           24
Dawson Street/Molesworth Pedestrian                         24
Grafton st/Monsoon                                           0
Grafton Street / Nassau Street / Suffolk Street              0
Grafton Street/CompuB                                        0
Grand Canal st upp/Clanwilliam place                         0
Grand Canal st upp/Clanwilliam place/Google                  0
Henry Street/Coles Lane/Dunnes                               0
Liffey st/Halfpenny Bridge                                   0
Liffey Street old                                           24
Mary st/Jervis st                                            0
Newcomen Bridge/Charleville mall inbound                    24
Newcomen Bridge/Charleville mall outbound                   24
North Wall Quay/Samuel Beckett bridge East                   0
North Wall Quay/Samuel Beckett bridge West                   0
O'Connell St/Parnell St/AIB                                  0
O'Connell St/Pennys Pedestrian                              24
O'Connell st/Princes st North                                0
O'Connell Street Pennys - PYRO EVO Temporary Counter        24
Phibsborough Rd/Enniskerry Road                              0
Phibsborough Rd/Munster St (Removed due to Overcounting)    24
Richmond st south/Portabello Harbour inbound                 0
Richmond st south/Portabello Harbour outbound                0
Talbot st/Guineys                                            0
Talbot st/Murrays Pharmacy                                  24
Westmoreland Street East/Fleet street                        0
Westmoreland Street West/Carrolls                           24
dtype: int64

Compare St.Pats missing data to full year missing data

In [26]:
# create data frames to store missing info
missing_patrick23 = patrick23_df.isnull().sum()
missing_footfall23 = footfall23_df.isnull().sum()

In [27]:
# Concatenate them horizontally
missing_comparison23 = pd.concat([missing_patrick23, missing_footfall23], axis=1)
# Column Names
missing_comparison23.columns = ['Missing in Patrick23_df', 'Missing in footfall23_df']

In [28]:
missing_comparison23.head(40)

,Missing in Patrick23_df,Missing in footfall23_df
Aston Quay/Fitzgeralds,0,1
Bachelors walk/Bachelors way,24,1364
Baggot st lower/Wilton tce inbound,0,1
Baggot st upper/Mespil rd/Bank,0,1
Capel st/Mary street,0,1
College Green/Bank Of Ireland,0,55
College Green/Church Lane,0,1724
College st/Westmoreland st,0,1
D'olier st/Burgh Quay,0,1
Dame Street/Londis,0,1
Dawson Street,24,8760
Dawson Street old,24,8760
Dawson Street/Molesworth Pedestrian,24,8472
Grafton st/Monsoon,0,1
Grafton Street / Nassau Street / Suffolk Street,0,136
Grafton Street/CompuB,0,7
Grand Canal st upp/Clanwilliam place,0,1
Grand Canal st upp/Clanwilliam place/Google,0,1
Henry Street/Coles Lane/Dunnes,0,1437
Liffey st/Halfpenny Bridge,0,1
Liffey Street old,24,8760
Mary st/Jervis st,0,1
Newcomen Bridge/Charleville mall inbound,24,6984
Newcomen Bridge/Charleville mall outbound,24,6984
North Wall Quay/Samuel Beckett bridge East,0,1
North Wall Quay/Samuel Beckett bridge West,0,1
O'Connell St/Parnell St/AIB,0,1751
O'Connell St/Pennys Pedestrian,24,2626
O'Connell st/Princes st North,0,1
O'Connell Street Pennys - PYRO EVO Temporary Counter,24,8760
Phibsborough Rd/Enniskerry Road,0,1
Phibsborough Rd/Munster St (Removed due to Overcounting),24,8760
Richmond st south/Portabello Harbour inbound,0,1
Richmond st south/Portabello Harbour outbound,0,1
Talbot st/Guineys,0,2029
Talbot st/Murrays Pharmacy,24,8270
Westmoreland Street East/Fleet street,0,2425
Westmoreland Street West/Carrolls,24,6169

I can see from this table that the following streets are missing Data for both St.Patricks day, and most of the year. 
- A
- Dawson Street
- Dawson Street old
- Dawson Street/Molesworth Pedestrian
- Liffey Street old
- Newcomen Bridge/Charleville mall inbound
- Newcomen Bridge/Charleville mall outbound
- O'Connell Street Pennys - PYRO EVO Temporary Counter
- Phibsborough Rd/Munster St (Removed due to Overcounting)
- Talbot st/Murrays Pharmacy
- Westmoreland Street West/Carrolls

The following has Data missing for Pats, and only some of the year:
- B
- Bachelors walk/Bachelors way, 1364
- O'Connell St/Pennys Pedestrian, 2626

My thinking now is to remove above columns A, and possibly interpolate columns B, but probably remove all. First, I would like to visualize where the sensors are in Dublin, and what reduction in data remova lwould look like. There is also data from previous yeaars which could be useful for this investigation, howver for now Im going to focus on 2023.

**1.3.2 Visualizing sensor locations**

Inspect location file and visulaize

In [29]:
counterLocations_df = pd.read_csv('DCCcounterlocations.csv')
counterLocations_df.head(40)

,_id,Counter Locations,Eco-Visio Oupput,Latitude,Longitude,Setup Date,User Type
0,1,Henry Street,Henry Street/Coles Lane/Dunnes,53.349730,-6.260900,2013-07-16T00:00:00,Pedestrians
1,2,O'Connell St Outside Clerys,O'Connell st/Princes st North,53.349020,-6.260050,2011-07-06T00:00:00,Pedestrians
2,3,Mary Street,Mary st/Jervis st,53.348770,-6.266740,2011-09-06T00:00:00,Pedestrians
3,4,Capel Street,Capel st/Mary street,53.348420,-6.269180,2011-01-08T00:00:00,Pedestrians
4,5,Aston Quay,Aston Quay/Fitzgeralds,53.346620,-6.259820,2019-02-27T00:00:00,Pedestrians
5,6,Grafton Street @ CompuB,Grafton Street/CompuB,53.343370,-6.258980,2019-02-27T00:00:00,Pedestrians
6,7,Talbot Street North,Talbot st/Guineys,53.350540,-6.255280,2019-02-27T00:00:00,Pedestrians
7,8,"Doilier Street, Burgh Quay",D'olier st/Burgh Quay,53.346900,-6.258720,2019-02-27T00:00:00,Pedestrians
8,9,Dame Street,Dame Street/Londis,53.344240,-6.261160,2019-02-27T00:00:00,Pedestrians
9,10,Talbot Street South,Talbot st/Murrays Pharmacy,53.350120,-6.257700,2019-02-27T00:00:00,Pedestrians
10,11,"O'Connell St, Parnell St @ AIB",O'Connell St/Parnell St/AIB,53.352317,-6.261675,2019-03-19T00:00:00,Pedestrians
11,12,Grafton Street / Nassau Street / Suffolk Street,Grafton Street / Nassau Street / Suffolk Street,53.343520,-6.259120,2019-02-27T00:00:00,Pedestrians
12,13,"College Green, Bank Of Ireland",College Green/Bank Of Ireland,53.345050,-6.259390,2019-02-27T00:00:00,Pedestrians
13,14,O'Connell St Outside Pennys,O'Connell St/Pennys Pedestrian,53.348740,-6.260110,2011-07-06T00:00:00,Pedestrians
14,15,Grafton Street,Grafton st/Monsoon,53.340820,-6.260350,2016-09-05T00:00:00,Pedestrians
15,16,Westmoreland Street East,Westmoreland Street East/Fleet street,53.345540,-6.259190,2016-06-05T00:00:00,Pedestrians
16,17,Dawson Street,Dawson Street/Molesworth Pedestrian,53.341194,-6.258337,2016-06-05T00:00:00,Pedestrians
17,18,Liffey Street,Liffey st/Halfpenny Bridge,53.346870,-6.263350,2011-09-06T00:00:00,Pedestrians
18,19,Westmoreland Street West,Westmoreland Street West/Carrolls,53.346348,-6.259197,2016-06-05T00:00:00,Pedestrians
19,20,College Green @ Church Lane,College Green/Church Lane,53.344263,-6.260774,2019-02-27T00:00:00,Pedestrians
20,21,College Green - Dame St Side,College st/Westmoreland st,53.345100,-6.258778,2019-02-27T00:00:00,Pedestrians
21,22,Bachelors Walk,Bachelors walk/Bachelors way,53.347200,-6.260863,2019-02-27T00:00:00,Pedestrians
22,23,Baggot st lower/Wilton tce inbound,Baggot st lower/Wilton tce inbound,53.334480,-6.245770,2020-07-24T00:00:00,Pedestrians
23,24,Baggot st upper/Mespil rd/Bank,Baggot st upper/Mespil rd/Bank,53.333850,-6.244690,2020-07-24T00:00:00,Pedestrians
24,25,Grand Canal st upp/Clanwilliam place,Grand Canal st upp/Clanwilliam place,53.338510,-6.237900,2020-07-24T00:00:00,Pedestrians
25,26,Grand Canal st upp/Clanwilliam place/Google,Grand Canal st upp/Clanwilliam place/Google,53.338510,-6.239000,2020-07-24T00:00:00,Pedestrians
26,27,Newcomen Bridge/Charleville mall inbound,Newcomen Bridge/Charleville mall inbound,53.356450,-6.244180,2020-07-24T00:00:00,Pedestrians
27,28,Newcomen Bridge/Charleville mall outbound,Newcomen Bridge/Charleville mall outbound,53.356480,-6.244180,2020-07-24T00:00:00,Pedestrians
28,29,North Wall Quay/Samuel Beckett bridge East,North Wall Quay/Samuel Beckett bridge East,53.346000,-6.241730,2020-07-24T00:00:00,Pedestrians
29,30,North Wall Quay/Samuel Beckett bridge West,North Wall Quay/Samuel Beckett bridge West,53.347480,-6.241320,2020-07-24T00:00:00,Pedestrians
30,31,Phibsborough Rd/Enniskerry Road,Phibsborough Rd/Enniskerry Road,53.363340,-6.271870,2020-07-24T00:00:00,Pedestrians
31,32,Phibsborough Rd/Munster St (Removed due to Ove...,Phibsborough Rd/Munster St (Removed due to Ove...,53.363220,-6.272470,2020-07-24T00:00:00,Pedestrians
32,33,Richmond st south/Portabello Harbour inbound,Richmond st south/Portabello Harbour inbound,53.330340,-6.264270,2020-07-24T00:00:00,Pedestrians
33,34,Richmond st south/Portabello Harbour outbound,Richmond st south/Portabello Harbour outbound,53.330230,-6.263970,2020-07-24T00:00:00,Pedestrians

**1.3.2.1**
There are 38 streets with counts, but only 34 counter locations. I want to compare counter locations with the the footfall counts, to see where these unlisted sensors are

In [30]:
# create series to store Counter Locations
series_loc_counterLocations = pd.Series(counterLocations_df['Eco-Visio Oupput'])
series_loc_footfall23 = pd.Series(footfall23_df.columns)

# Convert Series to DataFrames
location_counterLocations = pd.DataFrame({'Counter Locations': series_loc_counterLocations})
location_footfall23 = pd.DataFrame({'Footfall Locations': series_loc_footfall23})

# Merge the DataFrames
location_comparison = pd.merge(location_counterLocations, location_footfall23, how='outer', left_on='Counter Locations', right_on='Footfall Locations')

# Sort the merged DataFrame alphabetically
location_comparison.sort_values(by='Counter Locations', inplace=True)

# Print the merged DataFrame
location_comparison

,Counter Locations,Footfall Locations
4,Aston Quay/Fitzgeralds,Aston Quay/Fitzgeralds
21,Bachelors walk/Bachelors way,Bachelors walk/Bachelors way
22,Baggot st lower/Wilton tce inbound,Baggot st lower/Wilton tce inbound
23,Baggot st upper/Mespil rd/Bank,Baggot st upper/Mespil rd/Bank
3,Capel st/Mary street,Capel st/Mary street
12,College Green/Bank Of Ireland,College Green/Bank Of Ireland
19,College Green/Church Lane,College Green/Church Lane
20,College st/Westmoreland st,College st/Westmoreland st
7,D'olier st/Burgh Quay,D'olier st/Burgh Quay
8,Dame Street/Londis,Dame Street/Londis
16,Dawson Street/Molesworth Pedestrian,Dawson Street/Molesworth Pedestrian
11,Grafton Street / Nassau Street / Suffolk Street,Grafton Street / Nassau Street / Suffolk Street
5,Grafton Street/CompuB,Grafton Street/CompuB
14,Grafton st/Monsoon,Grafton st/Monsoon
24,Grand Canal st upp/Clanwilliam place,Grand Canal st upp/Clanwilliam place
25,Grand Canal st upp/Clanwilliam place/Google,Grand Canal st upp/Clanwilliam place/Google
0,Henry Street/Coles Lane/Dunnes,Henry Street/Coles Lane/Dunnes
17,Liffey st/Halfpenny Bridge,Liffey st/Halfpenny Bridge
2,Mary st/Jervis st,Mary st/Jervis st
26,Newcomen Bridge/Charleville mall inbound,Newcomen Bridge/Charleville mall inbound
27,Newcomen Bridge/Charleville mall outbound,Newcomen Bridge/Charleville mall outbound
28,North Wall Quay/Samuel Beckett bridge East,North Wall Quay/Samuel Beckett bridge East
29,North Wall Quay/Samuel Beckett bridge West,North Wall Quay/Samuel Beckett bridge West
10,O'Connell St/Parnell St/AIB,O'Connell St/Parnell St/AIB
13,O'Connell St/Pennys Pedestrian,O'Connell St/Pennys Pedestrian
1,O'Connell st/Princes st North,O'Connell st/Princes st North
30,Phibsborough Rd/Enniskerry Road,Phibsborough Rd/Enniskerry Road
31,Phibsborough Rd/Munster St (Removed due to Ove...,Phibsborough Rd/Munster St (Removed due to Ove...
32,Richmond st south/Portabello Harbour inbound,Richmond st south/Portabello Harbour inbound
33,Richmond st south/Portabello Harbour outbound,Richmond st south/Portabello Harbour outbound
6,Talbot st/Guineys,Talbot st/Guineys
9,Talbot st/Murrays Pharmacy,Talbot st/Murrays Pharmacy
15,Westmoreland Street East/Fleet street,Westmoreland Street East/Fleet street
18,Westmoreland Street West/Carrolls,Westmoreland Street West/Carrolls
34,NaN,Dawson Street
35,NaN,Dawson Street old
36,NaN,Liffey Street old
37,NaN,O'Connell Street Pennys - PYRO EVO Temporary C...

Here we can see that dawson street, dawson street old, liffey street old, and o'connell street penneys temperary locations are unlisted. these locations were also among the counters listed for missing Data for both St.Patricks day, and most of the year. Hence, given minimal data, I will remove them from analysis going forward.

remove columns

In [31]:
footfall23_df = footfall23_df.drop(columns=['Dawson Street', 'Dawson Street old', 'Liffey Street old', "O'Connell Street Pennys - PYRO EVO Temporary Counter"])
patrick23_df = patrick23_df.drop(columns=['Dawson Street', 'Dawson Street old', 'Liffey Street old', "O'Connell Street Pennys - PYRO EVO Temporary Counter"])

1.3.1
Investigate the 1's...

In [32]:
null_rows = footfall23_df[footfall23_df['Mary st/Jervis st'].isnull()]
null_rows.head(1)

,Aston Quay/Fitzgeralds,Bachelors walk/Bachelors way,Baggot st lower/Wilton tce inbound,Baggot st upper/Mespil rd/Bank,Capel st/Mary street,College Green/Bank Of Ireland,College Green/Church Lane,College st/Westmoreland st,D'olier st/Burgh Quay,Dame Street/Londis,...,O'Connell St/Pennys Pedestrian,O'Connell st/Princes st North,Phibsborough Rd/Enniskerry Road,Phibsborough Rd/Munster St (Removed due to Overcounting),Richmond st south/Portabello Harbour inbound,Richmond st south/Portabello Harbour outbound,Talbot st/Guineys,Talbot st/Murrays Pharmacy,Westmoreland Street East/Fleet street,Westmoreland Street West/Carrolls
Time,,,,,,,,,,,,,,,,,,,,,
2023-03-26 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

All from the same time, perhaps a glitch in their recording system/system update... since these values increase and decrease, the values could be replaced by interpolation, backward fill, ML approach... I think interpolation by replacing the mean of the previous and next observation would be suitable